

.bg-header{
    background-color:#86868b ;
    border-radius: 16px;
    padding: 20px;
}
.bg-corte1{
    margin: 36px;
    background-color: #191919;
    padding: 33px;
    width: 50%;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: 700;
    
}
.bg-corte1:hover{
    background-color: #292929;
    padding: 32px;
    width: 49%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: aqua;
}

/*----------------Estilos para la pagina el ciclo del agua y calentamiento global Practica 2 CSS----------------*/
/*selector universal*/
*{
    padding: 0;
    margin: 0;
}
h3{
    color: #000;
}

/*selectores de etiquetas*/
body{
    background-color: #e6edd8;
    color: white;
}
/*selector de clase*/
.img{
    width:80% ;
    border-radius: 1px;
    padding: 5px;
    justify-items: center;
}
.text{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;
}
.encabezado-articulo{
    padding: 10px;
    text-align: center;
    background-color: rgb(83, 152, 87);
    color: rgb(255,255 ,255 );
    margin: 1em 2em;
    border-radius: 5px;
}
/*.encabezado-aside{
    padding: 10px;
    text-align: center;
    background-color: rgb(89,161,81);
    color: white;
    margin: 1em 2em;
}
/*.menu-aside{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 25px; 
}
/*.lista-aside{
    padding: 10px;
}
/*@media (min-width: 760px) {*/
    /*.lista-aside li{
        display: flex;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        padding: 0 2px;
        list-style: square;
        color: #000;        
    }    
/*}
/*Selectores de identificacion*/
#contenedor{
    width: 900px;
    height: 1250px;
    background-color: #dee0b7;
    max-width: 0 auto;
    border-radius: 5px;
}
#encabezado{
    width: 60%;
    background-color: #6c844e;
    margin: 1em;
    padding: 0 50px;
    border-radius: 5px;
}
#menu{
    height: 5%;
    background-color: #7e815b;
    margin: 1em;
    border-radius: 5px;
}
#contenido{
    height: 88%;
    width: 58%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

    #fueraSeccion{
        height: 88%;
        width: 35%;
        background-color: #b5bf9a;
        margin: .5em;
        display: inline-block;
        vertical-align: top;
        border-radius: 5px;
    }

#pie{
    height: 2%;
    background-color: #b5bf9a;
    text-align: center;
    padding: 5px;
}
#pie h4{
    padding: 15px;
    font-size: 30px;
}
/*selector de etiqueta*/
ul{
    padding: 15px;
    font-size: 20px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
/*selector de evento*/
li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;
}

