
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Gloock', serif;;
    background-color: #f1ecea;
}
a{
    text-decoration: none;
    color: #f1ecea;
}
a:hover{
    color: #1c1c1c;
}
li{
    text-decoration: none;
    list-style: none;
}
p{
    font-size: 1.2rem;
}
.bg-header{
    background-color: #3a251c ;
    height: 100px;
    width: 100%;
    display: grid;
    place-items:center ;
}
.bg-header h1{
    color: #f1ecea;
    font-size: 50px;
    
}
.center{
    display:grid;
    place-items: center;
}
#contenedor{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}


.img {
    height: 100px;    
    width: 100px;    
    object-fit: cover;  
    border-radius: 5px; 
    border: 1px solid #f1ecea;

}
.img2 {
    height: 250px;        
    width: 250px;        
    object-fit: cover; 
    border-radius: 5px;        
}
.menu{
    height:80px ;
    display: grid;
    place-items: center;
    background-color:#b46424;
}

.fuera_seccion{
    background-color: #b58c7c ;
}
.seccion{
    background-color: #362f2f ;
    margin: .5rem;   
    border-radius: 5px; 
}

.cont{
    margin: 1rem;
    text-align: justify;
    color: #f1ecea; 
    font-family: 'Lato', sans-serif; 
}
.grid2{
    margin: 2rem;
    gap: 1rem;    
}


@media (min-width: 768px){
    .grid2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 4rem;
        gap: 1rem;    
    }
    .list_aside{
        font-size: 30px;
        display: flex;
        gap: 50px;
    }
    .grid{
        display: grid;
        grid-template-columns: 64% 35%;
        gap: 0;
    }
    .menu{
        height:60px ;
        display: grid;
        place-items: center;
        background-color:#b46424;
    }
}
.line{
    margin: 1rem;
    list-style: circle;
    margin-left: 40%;
    font-size: 1.2rem;
}
.line1{
    margin: .5rem;
    margin-left: 40%;
    list-style: circle;
    font-size: 1.2rem;
}
.pie{
    background-color:  #3a251c ;
    height: 60px;
    display: grid;
    place-items: center;
}
.pie h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #f1ecea;
}