*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
   
}
body{
      background-color: #f7f7fc;
      
}
h1{
    color: white;
    font-size: 3rem;
}
a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
a:hover{
    color: #555252;
    font-size: 2.1rem;
}
p{
    font-family: 'Inclusive Sans', sans-serif;
    margin: 1rem;
    color: #fff;
}
h2{
    color: #fff;
    font-size: 1.6rem;
}
h4{
    color: #fff;
}
footer{
    height: 60px;
    display: grid;
    place-items: center;
    background-color: #1f1f1f;
}

#contenedor{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
.header{
    height: 100px;
    width: 100%;
    background-color: #1f1f1f;
    display: grid;
    place-items: center;
}
.nav{
    height: 60px;
    background-color: #191919;
    display: grid;
    place-items: center;
}
.espacio{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
}
.bg-rosa{
    background-color: #1f1f1f;
    margin: 1rem;
    border-radius: 5px;
}
.bg-amarillo{
    background-color: #000;
    height: 100%;
}
.grid{
    display: grid;
    grid-template-columns: 64% 36%;
}
.img{
    width: 50%;
    margin: 2rem;
}
.justify{
    border-bottom: .5px solid #fff;
    margin: 10px;
    text-align: justify;
}
.justify1{
    margin: 10px;
    text-align: justify;
}
.a{
    font-size: 1.5rem;
}
.a:hover{
    font-size: 1.6rem;
}
.ul{
    margin: 2rem;
    font-family: 'Inclusive Sans', sans-serif;
}
.rojo{
    background-color:#9e0004 ;
    height: 100%;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
}
ul li::before {
    content: "\2022";
    color: #9e0004;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }